@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

:root {
  --orange-FIDIS: #f09d01;
  --normal-wite-text: #dadada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: 'Montserrat';
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  color: var(--normal-wite-text);
}

button,
button *,
a,
a *,
input[checkbox],
input[radio],
select {
  cursor: pointer;
  color: white;
}

select,
input {
  border: none;
  outline: none;
  background: none;
}
input {
  cursor: text;
}
select:hover,
input:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

input[disabled]:hover {
  opacity: 1;
  transform: scale(1);
  cursor: not-allowed;
}
button.hoverEffectContained:hover {
  background-color: var(--orange-FIDIS);
  color: white;
}

/* this is for the icon 'Chart-pie' that is next to the word 'Overview' or 'Dashboard' in the general Navbar */

button.hoverEffectOutlined:hover {
  color: var(--orange-FIDIS);
  border: 2px solid var(--orange-FIDIS);
  background: none;
}

button:hover,
button[disabled],
a:hover {
  transform: scale(1.02);
}

a:hover svg path {
  fill: var(--orange-FIDIS);
}
html {
  /* background-image: url(../assets/images/website_background.png); */
  background-color: #281f5b;
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
}

.market-cap-table > thead > tr > th {
  font-weight: 200;
}

.scrolltype::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.27);
  width: 4px;
}

.scrolltype::-webkit-scrollbar-thumb {
  background: var(--orange-FIDIS);
  /* outline: 1px solid slategrey; */
  width: 8px;
}

.notification_disappear {
  opacity: 0;
  animation: notification_disappear 5s ease-in-out;
  @keyframes notification_disappear {
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.line_chart > div > canvas {
  background-color: rgb(0 0 0 / 0.3);
  padding: 20px;
}

.toggle_bg:after {
  content: '';
  @apply absolute top-1 left-1 h-3 w-3 rounded-full border border-gray-300 bg-white shadow-sm transition;
}
input:checked + .toggle_bg:after {
  transform: translateX(100%);
  @apply border-white;
}
input:checked + .toggle_bg {
  @apply border-blue-600 bg-blue-600;
}
